.container{
  width: 1200px;
  margin: 0 auto;

}


nav{
  
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.flex{
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: center;
 
}

.backround{
  /* background: url(../public/assets/banner1.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(../public/assets/banner1.jpg);


}




.btton{
  background-color: #f5df4e;
  border-color: #f5df4e;
  color: #212529;
  border-width: 2px;
  font-weight: 500;
  padding: .8rem 2.6rem;
  transition: all .5s ease;
  border: transparent;
  margin-bottom: 60px;
 
}
.ass{
  color: #dee3e4 !important;
  font-size: 1.3125rem !important;
  text-transform: uppercase;

 
}
.as{
  color: #dee3e4;
}
.yello{
  width: 120px;
  margin: 40px auto;
  background-color: #f5df4e;
  text-align: center;
  /* padding: 10px 10px 10px 10px; */
  
}

.ct{
  text-align: center;
}
.round{
  width: 100px;
  height: 100px;
  background-color: #f5df4e;
  border-radius: 50%;
  position: relative;
}

.ab {
	position: absolute;
	left: 24px;
	top: -31px;
	font-size: 50px;
}

.wt{
  width: 400px;
}

.flex2{
  display: flex;
  justify-content: space-between;

}


.center{
  text-align: center;
  color: #dee3e4;
  text-transform: uppercase;
 padding: 170px 0;
  
}
body{
  overflow-x: hidden;
}

.text_center{
  text-align: center;
}
.wta {
	width: 257px;
	margin: 0 auto;
}

.flex3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.wrap{
  width: 26%;
  padding-top: 16px;
}
.mt2{
  margin-top: 70px;
}

.prBg{
  background-color: #dee2e6;
  padding: 70px 0;
}

.width{
  width: 500px;
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
}

.befor{
  position: relative;
}

.befor::after {
	position: absolute;
	width: 1px;
	height: 442px;
	background-color: #f5df4e;
	content: "";
	left: -32px;
	top: 8px;

  
}

.flex4{
  display: flex;

  justify-content: space-between;
}
.width3{
  width: 581px;
}
.pbt{
  padding: 50px 0;
}
.center5{
  text-align: center;
}
.center2{

  font-weight: 500;
  padding: .8rem 2.6rem;
  transition: all .5s ease;
  border: transparent;
  margin-bottom: 60px;
  background-color: black;
  color: wheat;
}

.hover:hover{
  background-color: #f5df4e;
  color: #000;
}